*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background: url("../../../images/bgQuemSomos.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000ac;
    background-blend-mode: color;
    width: 100%;
    height: 100vh;
    padding: 3rem 5rem;
}


.container h2{
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
}


.container p{
    margin-top: 1rem;
    color: #fff;
    font-size: 1.3rem;
    width: 30rem;
}