.container2{
    width: 100%;
    height: 100%;
    background: url("../../../images/quemSomos.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, .6);
    box-shadow: inset  0 0 10px rgba(0, 0, 0, .6);
}



