*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    background-color: #646d74;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .2rem;
    width: 11rem; 
}

.circle i{
    color: #fff;
    font-size: 2rem;
}

.circle p, h4{
    
}

.circle p{ 
    width: 40rem;     
    text-align: center;    
}

.circle h4{
    color: #fff;
    text-transform: uppercase;
}



/*================================== START MEDIA SCREEN FOR TABLET (min-width: 600px) and (max-width: 768px)  =============================*/

@media screen and (min-width: 600px) and (max-width: 768px){

    .circle{
        width: 9rem;    
    }

}

/*================================== FINISHED MEDIA SCREEN FOR TABLET =============================*/


/*================================== START MEDIA SCREEN FOR MOBILE (max-width: 600px)  =============================*/

@media screen and (max-width: 600px){


   
}
  
  /*================================== FINISH MEDIA SCREEN FOR MOBILE =============================*/