.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 5rem 0 5rem;
    background-color: #1F3B46;
    background: linear-gradient(to right,blueviolet , rgb(189, 8, 225));
 
}

.menu .lista{
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

.menu .lista a{
    color: #fff;
    text-decoration: none;
    transition: all .4s;
    padding: .5rem;
}

.menu .lista a:hover{
    color: black;
}