
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem 5rem 0 5rem;
    height: 3rem;
    background-color: #272C44;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.menu .lista{
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

.menu .lista a{
    color: #fff;
    text-decoration: none;
    transition: all .4s;
    padding: .5rem;
}

.menu .lista a:hover{
    color: black;
}