main{
    position: relative;

}


.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.7rem 6rem;
    height: 3rem;
    background: #8AA8A9;
    color: #fff;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

.menu .lista{
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

.menu .lista a{
    color: #fff;
    text-decoration: none;
    transition: all .4s;
    padding: .5rem;
}

.menu .lista a:hover{
    color: black;
}