.container_borda{
    display: flex;
    justify-content: center;
    margin: 3.5rem 0;
}

.borda{
    height: .45rem;
    width: 15rem;
    background: linear-gradient(to right, rgba(137, 43, 226, 0.679), rgba(255, 255, 255, 0.463)); 
}