.container{
    width: 100%;
    padding: 3rem 0;
}

section.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    gap: 1rem;
}   


section.texto h1{
    font-size: 1.8rem;
    text-transform: uppercase;
}

section.texto p{
    color: rgba(0, 0, 0, 0.64);
    width: 40rem;
    text-align: center;
    line-height: 1.7rem;
}


/*================================== START MEDIA SCREEN FOR TABLET (min-width: 600px) and (max-width: 768px)  =============================*/

@media screen and (min-width: 600px) and (max-width: 768px){

    section.texto p{
        width: 100%;
    }
    
}

/*================================== FINISHED MEDIA SCREEN FOR TABLET =============================*/

/*-------------------------------------------------------------------------------*/

/*================================== START MEDIA SCREEN FOR MOBILE (max-width: 600px)  =============================*/

@media screen and (max-width: 600px){

    section.texto p{
        width: 100%;
    }

    section.texto h1{
        font-size: 1.5rem;
    }

}
  
  /*================================== FINISH MEDIA SCREEN FOR MOBILE =============================*/